1{
    text-align: center;
    font-size: 24px;
    color: blue;
    font-family: 'Courier New', Courier, Monospace;
    letter-spacing: 5px;
}
fieldset,legend {
    border: 10px ridge rgb(51, 3, 61);
    padding: 5px 10px;
    border-radius: 45px;
}
legend{
    background-color: rgb(115, 9, 9);
}
fieldset{
    background-color: rgb(16, 123, 6);
}